# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor specific
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db